<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.daily.mapper.CategoryMapper">
    <select id="isExistCategoryById" parameterType="java.lang.Long" resultType="int">
        select
            exists(
                select * from category
                where category_id = #{categoryId});
    </select>

    <select id="isExistCategoryByName" parameterType="java.lang.String" resultType="int">
        select
            exists(
                select * from category
                where category_name = #{categoryName});
    </select>

    <!-- insert한 PK 값 추출하도록 구현    -->
    <insert id="addCategory" parameterType="com.flab.daily.dao.CategoryDAO"  useGeneratedKeys="true" keyProperty="categoryId" keyColumn="category_id">
            insert into category (
                category_name,
                created_by,
                updated_by,
                created_date,
                updated_date)
            values (
                #{categoryName},
                #{createdBy},
                #{createdBy},
                now(),
                now())
    </insert>

    <update id="updateCategory" parameterType="com.flab.daily.dao.CategoryDAO">
        UPDATE category
        SET category_name = #{categoryName}, updated_by=#{updatedBy}, updated_date = now()
        WHERE category_id = #{categoryId}
    </update>
</mapper>

