<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.daily.mapper.MeetingMapper">
    <insert id="addMeeting" parameterType="com.flab.daily.dao.MeetingDAO">
        INSERT INTO meeting (
            category_id,
            meeting_name,
            meeting_description,
            meeting_date,
            meeting_place,
            current_people,
            meeting_people,
            meeting_image,
            created_by,
            created_date,
            updated_date)
        VALUES (
            #{categoryId},
            #{meetingName},
            #{meetingDescription},
            #{meetingDate},
            #{meetingPlace},
            0,
            #{meetingPeople},
            #{meetingImage},
            #{createdBy},
            now(),
            now())
    </insert>

    <select id="findMeetingList" parameterType="com.flab.daily.dao.Pagination" resultType="com.flab.daily.dao.MeetingDAO">
        SELECT * FROM meeting ORDER BY created_date ASC LIMIT #{size} OFFSET #{startSize}
    </select>

    <select id="findMeetingOneById" parameterType="java.lang.Long" resultType="com.flab.daily.dao.MeetingDAO">
        SELECT * FROM meeting WHERE meeting_id = #{meetingId}
    </select>

    <select id="countMeetingAll" resultType="java.lang.Long">
        SELECT COUNT(*) FROM meeting
    </select>

    <select id="countMeetingByCategoryId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT COUNT(*) FROM meeting WHERE category_id = #{categoryId}
    </select>

    <select id="findMeetingListByCategoryId" parameterType="map" resultType="com.flab.daily.dao.MeetingDAO">
        SELECT * FROM meeting WHERE category_id = #{categoryId} ORDER BY created_date ASC LIMIT #{pagination.size} OFFSET #{pagination.startSize}
    </select>
</mapper>

