<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.daily.mapper.MeetingMapper">	<!-- mapper 인터페이스가 위치하는 경로 -->
    <select id="getMeeting" resultType="com.flab.daily.dto.MeetingDTO">
        select * from meeting
    </select>
</mapper>

