<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.daily.mapper.MemberMapper">
    <select id="isValidExist" parameterType="java.lang.String" resultType="int">
        select
        exists(
        select * from member
        where created_by = #{createdBy});
    </select>
</mapper>

